/.project
/bin
/target
/temp
/webapp
.idea/.name
.idea/encodings.xml
.idea/scopes/scope_settings.xml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/wp-comment-contest.iml
.idea/workspace.xml
.idea/vcs.xml